---
layout: default
title: Home
---

<h1>Learn to Think. Learn to Solve. Learn to Question.</h1>
<h2>Exploring the ways of thought that shape our understanding of the world.</h2> 

{% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "themes" %}
          <a class="sidebar-nav-item{% if page.title == 'themes' %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}


<div class="posts">
  {% assign sorted_posts = site.posts | sort: "date" %}
  {% for post in sorted_posts %}
    <div class="post">
      <h1 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.date | date_to_string }}</span>
      {{ post.content }}
    </div>
  {% endfor %}
</div>

Hi, there isn't much here yet. This is a work in progress, so please check back later for updates. In the meantime, feel free to explore the sidebar for more information about this site and its purpose.
